/* Add application styles & imports to this file! */
.box {
  background: red;
  border: 1px solid;
  height: 100px;
  width: 100px;

  position: absolute;
}

.outerbox {
  border: 1px solid black;

  height: 200vh;
}
